
<h1> <%= Tournament.model_name.human(count: 2) %> </h1>

<%= @tournaments.show_all %>


<br>

<%= link_to ([(t 'create'), Tournament.model_name.human].join(' ')), new_tournament_path, :class => 'btn btn-default' %>
