<h1><%= t 'title' %></h1>
<div class="row">
  <div class="col-md-4">
    <%= @users.free_ranking %>
  </div>

  <div class="col-md-4">
    <%= @users.general_ranking %>
  </div>

  <div class="col-md-4">
    <%= @users.tournament_ranking %>
  </div>






</div>

