

<%= @matches.show_user_matches %>
<br>
<h2><%= t 'all_matches' %></h2>
<%= @matches.show_all %>

<br>

<%= link_to ([(t 'create'), Match.model_name.human].join(' ')), new_match_path, :class => 'btn btn-default' %>

