<table class="<%= table_class %>">
  <thead>
  <tr>
    <th><h3>Datos del Torneo</h3></th>
  </tr>

  </thead>
  <tbody>
  <% @tournament.presentable_attributes.each do |attribute_name| %>
      <tr>
        <td> <%= Tournament.human_attribute_name(attribute_name) %> </td>
        <td> <%= @tournament.send(attribute_name) %> </td>
      </tr>
  <% end %>
  </tbody>
</table>